/* Fondo pantalla completa sin navbar */
.checkout-fullpage {
  background: linear-gradient(135deg, #030305, #060413, #0d0d0d);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.checkout-card {
  width: 900px;
  padding: 40px;
  margin-bottom: 150px;
  border-radius: 20px;
  background: rgba(25, 20, 50, 0.92);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  color: #F5E9D2;
}

/* Títulos */
.checkout-card h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.8;
}

/* Formulario */
.checkout-form .row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.checkout-form input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #2d244f;
  color: white;
}

.pay-btn {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #A04D17;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  background: #c45f22;
}

/* Éxito */
.success-box {
  text-align: center;
  padding: 60px 20px;
}

.success-check {
  font-size: 80px;
  color: #3FE67E;
  margin-bottom: 20px;
}
